.classpath
.project
.gradle/
.settings/
derby.log
bin/
test-output/
target/
build/
*.iws
*.iml
.idea/
*.*~
*.ipr
.sass-cache/
.tmp/
logs/
velocity.log
out/
node_modules/
bower_components/
dist/
.sass-cache/
modules/apps/trim/src/main/angular/css/cmp/
modules/apps/trim/src/main/angular/css/sources/global.css
modules/apps/trim/src/main/angular/js/cmp/
